$s_desktop_lg: 1200px
$s_desktop_md: 992px
$s_tablet: 769px
$s_smartphone: 768px

$page-content-padding: 100px


$gap: 50px
$gap-cols: 10px

// colors
$dark-color: #272727
$primary-color: lighten(#05507a, 20%)
$accent-color: #333
$titles-color: #777
$light-color: #eee
$text-light-color: #ddd
$pane-color: #fff
$title-bar-color: #777
$body-color: darken(#f6f8f8,2%)

